html,
body {
  box-sizing: border-box;
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  font-family: "Roboto", "Arial", sans-serif;
  color: #323232;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
}

.content-wrapper {
  margin: 0 2.3%;
}

.page-content__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 39px;
}

/*Всплывающие окна*/
.hover {
  position: absolute;
  z-index: 2;

  display: none;

  background-color: #f9f8f5;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

/*Поля ввода форм*/
.input-field {
  padding: 0.55em 0.8em;

  font-family: inherit;
  color: #999999;

  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
  outline: none;
}

.input-field:hover {
  border: 1px solid rgba(154, 154, 154, 0.52);
  box-shadow: 0 0 2px 0 rgba(154, 154, 154, 0.52);
}

.input-field::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #999999;
}

.input-field:focus {
  font-weight: 700;
  color: #323232;

  border: 1px solid rgba(46, 136, 228, 0.52);
  box-shadow: 0 0 2px 0 rgba(46, 136, 228, 0.52);
}

.page-wrapper {
  background-color: #849d8f;
}

.page-wrapper--inner {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0px, #849d8f 656px);
}

/*Кнопки*/
.btn {
  display: inline-block;

  font-weight: 700;
  font-family: inherit;
  text-align: center;
  color: #ffffff;

  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  outline: none;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.btn:hover,
.btn:focus {
  background-image: linear-gradient(to top, #ec6e5d 0%, #f58669 100%);
  box-shadow: 0 2px 2px 0 #ac1000;
}

.btn:active {
  background-image: linear-gradient(to top, #e1613e 0%, #d74531 100%);
  box-shadow: inset 0 2px 2px 0 #942718;
}

.btn--pale {
  font-weight: 500;

  background-color: rgba(255, 255, 255, 0.2);
  background-image: none;
  border: 2px solid #ffffff;
  box-shadow: none;
}

.btn--pale:hover,
.btn--pale:focus {
  color: #323232;

  background-color: #ffffff;
  background-image: none;
  box-shadow: none;
}

.btn--pale:active {
  background-color: #ededed;
  background-image: none;
  border-width: 0;
  box-shadow: inset 0 2px 1px 0 #696969;
}

/*Ссылки*/
.link {
  border-bottom: 1px solid;
}

.link--light {
  color: #ffffff;

  border-color: rgba(255, 255, 255, 0.3);
}

.link--light:hover,
.link--light:focus,
.link--light:active {
  color: #ffbc9e;

  border-color: rgba(249, 172, 159, 0.3);
}

.link--dark {
  color: #323232;

  border-color: rgba(0, 0, 0, 0.3);
}

.link--dark:hover,
.link--dark:focus,
.link--dark:active {
  color: #e84d37;

  border-color: rgba(236, 89, 60, 0.3);
}

/*Оверлей*/
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;

  background-color: rgba(0, 0, 0, 0.3);
}

/*Хедер*/
.main-header {
  margin-bottom: 319px;
}

.main-header--catalog {
  margin-bottom: 22px;
}

.main-header__inner {
  position: relative;

  display: flex;
  justify-content: flex-start;
  min-height: 73px;
  padding-top: 9px;
}

/*Логотип*/
.main-logo {
  width: 154px;
  height: 64px;
}

/*Главное меню */
.main-nav__items {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 13px;
  margin-left: 8px;
  padding: 0;

  list-style: none;
}

.main-nav__item {
  position: relative;

  padding-bottom: 5px;

  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  border-radius: 1em;
}

.main-nav__link {
  position: relative;

  display: block;
  padding: 0.5em 0.9em;

  font: inherit;
  color: inherit;

  border-radius: 1em;
  outline: none;
}

.main-nav__link::before {
  content: "";
  position: absolute;
  right: 0.9em;
  bottom: 0.5em;
  left: 0.9em;

  height: 1px;

  background-color: rgba(255, 255, 255, 0.2);
}

.main-nav__item:hover .main-nav__link::before,
.main-nav__item:focus .main-nav__link::before {
  background-color: transparent;
}

.main-nav__item:hover .main-nav__link,
.main-nav__link:focus {
  color: #333333;

  background-color: #f8f7f4;
}

.main-nav__link:active {
  background-color: #ededed;
  box-shadow: inset 0 2px 1px 0 #696969;
}

.main-nav__link--active,
.main-nav__item:hover .main-nav__link--active,
.main-nav__link--active:focus,
.main-nav__link--active:active {
  color: #ffffff;

  background-color: #d17158;
  box-shadow: none;
  cursor: default;
}

.main-nav__link--active::before {
  background-color: transparent;
}

/*Главное меню --> Всплывающее подменю*/
.main-nav__item:hover .main-nav__hover-menu {
  display: block;
}

.main-nav__hover-menu {
  top: 100%;
  left: -5px;

  width: 143px;
}

.main-nav__hover-heading {
  position: relative;

  margin: 0;
  padding: 0.8em 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
}

.main-nav__hover-heading::after {
  content: "";
  position: absolute;
  right: 9px;
  bottom: 0;
  left: 6px;

  height: 1px;

  background-color: rgba(53, 53, 53, 0.2);
}

.main-nav__hover-items {
  margin: 0;
  padding: 5px 0 10px;

  list-style: none;
}

.main-nav__hover-link {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.45em 19px 0.6em;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
}

.main-nav__hover-link:hover {
  background-color: #fbded7;
}

.main-nav__hover-link:active {
  background-color: #f6b5a5;
}

.main-nav__hover-link--active,
.main-nav__hover-link--active:hover,
.main-nav__hover-link--active:active {
  color: #ffffff;

  background-color: #d17158;
  box-shadow: none;
  cursor: default;
}

/*Пользовательский блок в шапке*/
.user-block {
  display: flex;
  align-items: flex-start;
  margin-top: 14px;
  margin-left: auto;
}

.user-block__item {
  position: relative;

  display: block;
  margin-left: 9px;
  padding-bottom: 4px;
}

/*Пользовательский блок --> Поиск по сайту*/
.user-block__search {
  padding-left: 20px;
}

.user-block__search-link {
  position: relative;

  display: block;
  width: 32px;
  height: 32px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  outline: none;
}

.user-block__search-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 19px;
  height: 19px;

  background: url("../img/icons-sprite.svg") 0 100% no-repeat;
  transform: translate(-50%, -50%);
}

.user-block__search:hover .user-block__search-link,
.user-block__search-link:focus {
  background-color: #f9f8f5;
}

.user-block__search-link:active {
  opacity: 0.5;
}

.user-block__search:hover .user-block__search-link::before,
.user-block__search-link:focus::before {
  background: url("../img/icons-sprite.svg") 11.17% 100% no-repeat;
}

.user-block__search:hover .site-search {
  display: block;
}

.site-search {
  top: 100%;
  right: 0;

  width: 341px;
  padding: 20px 15px;

  background-color: #f9f8f5;
}

.site-search__input-field {
  width: 311px;
  height: 44px;

  font-size: 16px;
  line-height: 24px;
  font-family: inherit;
}

.site-search__field-label {
  display: none;

  font-size: 11px;
  line-height: 13px;
  color: #5b9ddf;
}

/*Пользовательский блок --> Авторизация пользователя*/
.user-block__authorization-link {
  position: relative;

  display: block;
  padding: 0.6em 17px 0.55em 44px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  outline: none;
}

.user-block__authorization-link::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 15px;

  display: block;
  width: 23px;
  height: 21px;

  background: url("../img/icons-sprite.svg") 99.39% 60.95% no-repeat;
}

.user-block__authorization:hover .user-block__authorization-link::before,
.user-block__authorization-link:focus::before {
  background: url("../img/icons-sprite.svg") 99.39% 45.89% no-repeat;
}

.user-block__authorization:hover .user-block__authorization-link,
.user-block__authorization-link:focus {
  color: #323232;

  background-color: #f8f7f4;
}

.user-block__authorization-link:active {
  opacity: 0.5;
}

.authorization-form {
  position: absolute;
  top: 100%;
  right: -2px;

  width: 277px;
  padding: 20px 17px 20px 19px;
}

.user-block__authorization:hover .authorization-form {
  display: block;
}

.authorization-form__input-field {
  width: 241px;
  height: 44px;
  margin-bottom: 20px;

  font-size: 16px;
  line-height: 24px;
}

.authorization-form__field-label {
  display: none;

  font-size: 11px;
  line-height: 13px;
  color: #5b9ddf;
}

.authorization-form__bottom {
  display: flex;
  align-items: flex-start;
}

.authorization-form__links {
  margin-left: 20px;
}

.authorization-form__link {
  font-size: 13px;
  line-height: 1;
}

.authorization-form__btn {
  padding: 10px 25px;

  font: inherit;
  font-size: 18px;
  line-height: 24px;

  border-width: 0;
  border-radius: 17px/22px;
  box-shadow: 0 1px 2px #ac1000;
}

/*Пользовательский блок --> корзина*/
.cart {
  position: relative;
}

.cart__link {
  position: relative;

  display: inline-block;
  min-width: 117px;
  height: 100%;
  padding: 0.6em 17px 0.55em 44px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  outline: none;
}

.cart__link::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 15px;

  display: block;
  width: 23px;
  height: 22px;

  background: url("../img/icons-sprite.svg") 99.39% 16.55% no-repeat;
}

.cart--not-empty .cart__link::before {
  background: url("../img/icons-sprite.svg") 99.39% 31.72% no-repeat;
}

.cart--not-empty .cart__link,
.cart--not-empty:hover .cart__link,
.cart__link:focus {
  color: #323232;

  background-color: #f8f7f4;
}

.cart--not-empty .cart__link:active {
  opacity: 0.5;
}

/*Всплывающее окно со списком товаров в корзине*/
.cart__hover {
  top: 100%;
  right: 0;

  min-width: 540px;
  padding: 20px 15px;
}

.cart__items {
  width: 100%;
  margin-bottom: 14px;

  border-collapse: collapse;

  border-bottom: 1px solid #cacac7;
}

.cart__item {
  display: block;
  margin-bottom: 20px;
}

.cart__item:last-of-type {
  margin-bottom: 17px;
}

.cart--not-empty:hover .cart__hover {
  display: block;
}

.cart__item-delete {
  width: 27px;
  height: 33px;
  padding-top: 10px;
  padding-left: 4px;

  vertical-align: top;
  text-align: left;
}

.cart__delete-btn {
  width: 11px;
  height: 11px;

  vertical-align: top;

  background: transparent url(../img/icons-sprite.svg) 35.2% 37.4% no-repeat;
  border: none;
  cursor: pointer;
}

.cart__item-image-container {
  width: 33px;
  height: 33px;
  padding: 0;

  vertical-align: top;
}

.cart__item-image {
  display: block;

  border-radius: 50%;
}

.cart__item-name {
  width: 250px;
  padding: 8px 5px 0 13px;

  font-size: 13px;
  line-height: 16px;
  vertical-align: top;
}

.cart__item-amount {
  width: 120px;
  padding: 0;
  padding-top: 4px;
  padding-left: 10px;

  vertical-align: top;
}

.cart__item-weight {
  font-size: 13px;
  line-height: 16px;
}

.cart__item-price {
  font-size: 13px;
  line-height: 16px;
  color: #999999;
}

.cart__item-total {
  padding: 0;
  padding-top: 8px;
  padding-left: 12px;

  font-size: 13px;
  line-height: 16px;
  vertical-align: top;
}

.cart__order-total {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 14px;

  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
}

.cart__btn-wrapper {
  display: flex;
}

.cart__btn {
  margin-left: auto;
  padding: 10px 15px;

  font-size: 18px;
  line-height: 24px;

  border-radius: 17px/22px;
}

/*Расписание работы магазина и номера контактных телефонов*/
.main-header__info {
  position: absolute;
  right: 0;
  bottom: 0;

  margin: 0;

  text-align: right;

  transform: translateY(100%);
}

.main-header__work-time {
  display: block;
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.main-header__phone-number {
  display: block;

  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
}

/*Хлебные крошки*/
.breadcrumbs {
  margin-bottom: 2px;
}

.breadcrumbs__items {
  display: flex;
  min-height: 20px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.breadcrumbs__link {
  position: relative;

  margin-right: 21px;

  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs__link::after {
  content: "»";
  position: absolute;
  top: 0;
  right: -15px;
}

.breadcrumbs__link--active {
  border-bottom: none;
}

.breadcrumbs__link--active::after {
  display: none;
}

.breadcrumbs__link--active:hover,
.breadcrumbs__link--active:focus,
.breadcrumbs__link--active:active {
  color: #ffffff;

  cursor: default;
}

/*Основной контент главной страницы*/

/*Промо слайдер*/
.promo-slider {
  position: relative;

  margin-bottom: 42px;

  text-align: center;
}
.promo-slider__slide-1,
.promo-slider__slide-2,
.promo-slider__slide-3,
.slider-control {
  display: none;
}

.promo-slider__text {
  display: block;
  width: 700px;
  margin: 0 auto 30px;

  font-weight: 700;
  font-size: 60px;
  line-height: 1.0;
  color: #ffffff;
}

.promo-slider__btn {
  width: 278px;
  min-height: 63px;
  padding: 9px 0;

  font-size: 32px;
  line-height: 44px;
  text-shadow: 0 2px 5px 0 rgba(160, 32, 11, 0.76);

  border-radius: 32px;
}

.promo-slider__controls {
  position: absolute;
  bottom: 21px;

  font-size: 0;
}

.promo-slider__control {
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 8px;

  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-control[id="slide-1"]:checked ~ .page-wrapper .promo-slider__control[for="slide-1"],
.slider-control[id="slide-2"]:checked ~ .page-wrapper .promo-slider__control[for="slide-2"],
.slider-control[id="slide-3"]:checked ~ .page-wrapper .promo-slider__control[for="slide-3"] {
  background-color: #ffffff;
}

.slider-control[id="slide-1"]:checked ~ .page-wrapper .promo-slider__slide-1,
.slider-control[id="slide-2"]:checked ~ .page-wrapper .promo-slider__slide-2,
.slider-control[id="slide-3"]:checked ~ .page-wrapper .promo-slider__slide-3 {
  display: block;
}

.slider-control[id="slide-1"]:checked ~ .page-wrapper {
  background: #849d8f url("../img/backgrounds/bg-slide-1.png") top center no-repeat;
}

.slider-control[id="slide-2"]:checked ~ .page-wrapper {
  background: #8996a6 url("../img/backgrounds/bg-slide-2.png") top center no-repeat;
}

.slider-control[id="slide-3"]:checked ~ .page-wrapper {
  background: #9d8b84 url("../img/backgrounds/bg-slide-3.png") top center no-repeat;
}

/*Специальные предложения*/
.special-offers {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.special-offers__offer {
  width: 48.8%;
  padding: 0 19px 24px;

  border-radius: 13px;
}

.special-offers__offer--raspberries {
  background-image: url("../img/backgrounds/bg-special-offer-1.jpg");
  background-size: cover;
}

.special-offers__offer--chocolates {
  background-image: url("../img/backgrounds/bg-special-offer-2.jpg");
  background-size: cover;
}

.special-offers__heading {
  margin-top: 16px;
  margin-bottom: 15px;

  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
}

.special-offers__text {
  margin-top: 15px;

  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.special-offers__btn-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 44px;
}

.special-offers__btn {
  padding: 0.55em 1.25em 0.65em;

  font-size: 18px;
  line-height: 24px;

  border-radius: 2em;
}

/*Витрина*/
.showcase {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.showcase--catalog {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/*Карточка товара*/
.product {
  position: relative;

  flex-basis: 23.3%;
  align-self: flex-start;
  margin-right: 2.25%;
  margin-bottom: 38px;

  text-align: center;
}

.product:nth-of-type(4n) {
  margin-right: 0;
}

.product--featured::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 61px;
  height: 61px;

  background: url("../img/icons-sprite.svg") 0 0 no-repeat;
  border-radius: 50%;
}

.product::before {
  content: "";
  position: absolute;
  top: -1.5%;
  right: -5%;
  left: -5%;
  z-index: -1;

  display: none;
  height: calc(100% + 80px);

  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  opacity: 0.2;
}

.product:hover {
  z-index: 3;
}

.product:hover::before {
  display: block;
}

.product__image-wrapper {
  position: relative;

  margin-bottom: 13px;
}

.product__item-image {
  display: block;
  width: 100%;
  height: 100%;

  border-radius: 50%;
}

.product__item-price {
  position: absolute;
  bottom: 8px;
  left: 0;

  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  color: #ffffff;
  text-shadow: 1px 1px 3px 0 rgba(49, 50, 53, 0.5);
}

.product__item-price svg {
  position: relative;
  top: 3px;
  left: 3px;

  margin-right: 4px;
}

.product__item-weight {
  font-size: 30px;
}

.product__catalog-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  vertical-align: top;
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.product__btn-wrapper {
  display: none;
}

.product__btn {
  width: 200px;
  min-height: 44px;
  margin-top: 8px;
  padding: 10px 0;

  font-size: 18px;
  line-height: 24px;

  border-radius: 22px;
}

.product:hover .product__btn-wrapper {
  position: absolute;

  display: flex;
  justify-content: center;
  width: 100%;
}

/*Описание магазина*/
.shop-description {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 0 19px;

  background: #eadec2 url("../img/backgrounds/bg-shop-description.jpg");
  border-radius: 15px;
}

.shop-description__heading {
  width: 100%;
  margin-top: 23px;
  margin-bottom: 23px;

  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.shop-description__column {
  width: 48.8%;
}

.shop-description__item {
  position: relative;

  margin-top: 22px;
  padding-left: 56px;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.shop-description__item:first-of-type {
  margin-top: 0;
}

.shop-description__item:last-of-type {
  margin-bottom: 24px;
}

.shop-description__item::after {
  content: "";
  position: absolute;
  top: -14px;
  left: -1px;

  width: 51px;
  height: 51px;

  border-radius: 50%;
}

.shop-description__item--quality::after {
  background: url("../img/icons-sprite.svg") 82.6% 0 no-repeat;
}

.shop-description__item--ecology::after {
  background: url("../img/icons-sprite.svg") 45.65% 0 no-repeat;
}

.shop-description__item--trust::after {
  background: url("../img/icons-sprite.svg") 0 54.31% no-repeat;
}

.shop-description__item--delivery::after {
  background: url("../img/icons-sprite.svg") 36.95% 54.31% no-repeat;
}

/*Статья из блога*/
.post {
  align-self: flex-start;
  width: 48.8%;
  min-height: 220px;
  padding-right: 13%;
  padding-left: 19px;

  background: #ffffff url("../img/backgrounds/bg-post.jpg") -27px -35px no-repeat;
  border-radius: 15px;
}

.post__heading {
  margin-top: 23px;
  margin-bottom: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.post__link {
  position: relative;

  margin-top: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: inherit;
  text-decoration: underline;
}

/*Подписка на рассылку*/
.subscription {
  display: flex;
  align-self: flex-start;
  width: 48.8%;
  padding: 5px 6px;

  background: #f9f8f5 url("../img/backgrounds/bg-mail.svg");
  background-size: cover;
  border-radius: 15px;
}

.subscription__inner {
  padding: 0 20px;

  background-color: #f9f8f5;
  border-radius: 9px;
}

.subscription__offer {
  min-height: 102px;
  margin-top: 29px;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
}

.subscription__bottom {
  display: flex;
  align-items: flex-start;
  margin-bottom: 35px;
}

.subscription__field-group {
  width: 72.5%;
  margin-right: 10px;
}

.subscription__field-label {
  display: none;
}

.subscription__input-field {
  width: 100%;
  height: 44px;

  font-size: 16px;
  line-height: 24px;
  color: #999999;
}

.subscription__btn {
  padding: 0.55em 1.05em 0.60em;

  font-size: 18px;
  line-height: 24px;

  border-width: 0;
  border-radius: 22px;
}

/*Карта*/
.map {
  position: relative;

  width: 100%;
  height: 429px;

  background: #eae2c7 url("../img/backgrounds/bg-map.jpg") center no-repeat;
}

/*Адрес и контактный телефон*/
.map__inner {
  position: relative;
}

.contacts {
  position: absolute;
  top: 62px;
  right: 2.3%;

  width: 302px;
  padding: 30px 25px;

  background-color: #fefefe;
  border-radius: 15px;
}

.contacts__description {
  margin: 0;

  font-size: 14px;
  line-height: 20px;
}

.contacts__address {
  margin-top: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.contacts__phone-block {
  line-height: 22px;
}

.contacts__phone {
  margin-top: 5px;
  margin-bottom: 23px;

  font-weight: 700;
  font-size: 18px;
}

.contacts__work-time {
  font-weight: 400;
  font-size: 14px;
}

.contacts__btn {
  padding: 0.55em 1.54em 0.6em;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  border-radius: 2em;
}

/*Страница каталога*/

/*Загаловок каталога*/
.catalog-main-heading {
  margin: 0 0 20px 0;

  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
}

/*Фильтр каталога*/
.product-filters {
  margin-bottom: 40px;
  padding-top: 6px;
}

.product-filters__row {
  display: flex;
  margin-bottom: 16px;
}

.product-filters__filter-wrapper {
  display: flex;
  align-items: center;
  padding: 0.55em 13px 0.55em 15px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 1.5em;
}

.product-filters__filter-wrapper--wide {
  padding-right: 0;
  padding-left: 0;
}

.product-filters__checkbox-label,
.product-filters__radio-label {
  position: relative;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  cursor: pointer;
}

/*Подписи к группам фильтров в каталоге*/
.product-filters__filter-label {
  display: block;
  margin-bottom: 6px;
  margin-left: 16px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

/*Фильтр каталога --> Выпадающий список выбора критерия сортировки*/
.product-filters__sort-criteria {
  width: 193px;
  margin-right: 16px;
}

.product-filters__select {
  min-width: 193px;
  min-height: 36px;
  padding: 0.4em 1em 0.45em 0.8em;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  font-family: inherit;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  border-width: 0;
  border-radius: 2em;
  outline: none;
  cursor: pointer;

  -webkit-appearance: none;
     -moz-appearance: none;
}

.product-filters__select::-ms-expand {
  display: none;
}

.product-filters__select-wrapper {
  position: relative;
}

.product-filters__select-wrapper::after {
  content: "";
  position: absolute;
  top: 13px;
  right: 14px;
  z-index: 100;

  width: 11px;
  height: 10px;

  background: url("../img/icons-sprite.svg") 82.58% 50% no-repeat;
}

.product-filters__select-wrapper:hover::after {
  background: url("../img/icons-sprite.svg") 35.39% 31.87% no-repeat;
}

.product-filters__select::after {
  content: "";
  position: absolute;
  top: 13px;
  right: 14px;
  z-index: 100;

  width: 11px;
  height: 10px;

  background: url("../img/icons-sprite.svg") 82.58% 50% no-repeat;
}

.product-filters__sort-criteria:hover ~ .product-filters__select-wrapper::after,
.product-filters__select-wrapper:focus::after {
  background: black url("../img/icons-sprite.svg") 35.39% 31.87% no-repeat;
}

.product-filters__select:hover,
.product-filters__select:focus {
  color: #323232;

  background-color: #ffffff;
}

/*Фильтр каталога --> Слайдер выбора ценового диапазона*/
.product-filters__range-slider {
  width: 218px;
  height: 36px;
  margin-right: 16px;

  border-radius: 18px;
}

.range-slider {
  display: flex;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.2);
}

.range-slider__track {
  position: relative;

  width: 100%;
  height: 4px;
  margin: auto 21px;
}

.range-slider__low {
  position: absolute;
  top: 0;
  left: 0;

  width: 7.4%;
  height: 100%;

  background-color: #f9f8f5;
  opacity: 0.5;
}

.range-slider__selection {
  position: absolute;
  right: 25.5%;
  left: 7.4%;

  height: 100%;

  background: #f9f8f5;
}

.range-slider__high {
  position: absolute;
  top: 0;
  right: 0;

  width: 25.5%;
  height: 100%;

  background-color: #f9f8f5;
  opacity: 0.5;
}

.range-slider__handle {
  position: absolute;
  top: -8px;

  width: 20px;
  height: 20px;

  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.range-slider__handle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 4px;
  height: 4px;

  background-color: #acacac;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.range-slider__handle--min {
  left: 7.4%;
}

.range-slider__handle--max {
  right: 25.5%;
}

/*Фильтр каталога --> Фильтр мороженого по жирности*/
.product-filters__sort-by-fat {
  margin: 0;
  padding: 0;
  min-width: 415px;

  border: none;
}

.product-filters__radio-label {
  margin-right: 17px;
  margin-left: 32px;
}

.product-filters__radio-label:last-of-type {
  margin-right: 0;
}

.product-filters__radio-label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -10px;

  width: 22px;
  height: 22px;

  border: 4px solid #eef2f0;
  border-radius: 50%;
  transform: translate(-100%, -50%);
  opacity: 0.8;
}

.product-filters__radio-label::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -25px;

  display: none;

  border: 4px solid #eef2f0;
  border-radius: 50%;
  opacity: 0.8;
}

.product-filters__radio-label:hover::after,
.product-filters__radio-label:hover::before {
  opacity: 1;
}

.product-filters__radio-label:disabled::after,
.product-filters__radio-label:disabled::before {
  opacity: 0.4;
}

.product-filters__radio:focus + .product-filters__radio-label::after,
.product-filters__radio:focus + .product-filters__radio-label::before {
  opacity: 1;
}

.product-filters__radio:checked + .product-filters__radio-label::before {
  display: block;
}

/*Фильтр каталога --> Фильтр мороженого по наполнителю*/
.product-filters__sort-by-filler {
  margin: 0;
  margin-right: 14px;
  padding: 0;
  min-width: 702px;

  border: none;
}

.product-filters__checkbox-label {
  margin-right: 22px;
  margin-left: 31px;
}

.product-filters__checkbox-label:last-of-type {
  margin-right: 7px;
}

.product-filters__checkbox-label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -7px;

  width: 26px;
  height: 22px;

  background: url("../img/icons-sprite.svg") 101.3% 75.86% no-repeat;
  transform: translate(-100%, -50%);
  opacity: 0.8;
}

.product-filters__checkbox-label:hover::after {
  opacity: 1;
}

.product-filters__checkbox-label:disabled::after {
  opacity: 0.4;
}

.product-filters__checkbox:focus + .product-filters__checkbox-label::after {
  opacity: 1;
}

.product-filters__checkbox:checked + .product-filters__checkbox-label::after {
  background: url("../img/icons-sprite.svg") 69.93% 61.37% no-repeat;
}

.product-filters__btn {
  align-self: flex-end;
  width: 144px;
  min-height: 36px;
  padding: 6px 0;

  font-size: 16px;
  line-height: 18px;

  border-radius: 18px;
}

/*Пагинация*/
.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog__pagination {
  height: 26px;
  margin-top: 43px;
  margin-bottom: 29px;
}

.pagination__item {
  width: 26px;
  height: 26px;
  margin-right: 3px;
}

.pagination__arrow {
  width: 10px;
  height: 14px;

  background: url("../img/icons-sprite.svg") 56.98% 41.17% no-repeat;
}

.pagination__arrow  .pagination__link,
.pagination__arrow  .pagination__link:hover,
.pagination__arrow  .pagination__link:focus,
.pagination__arrow  .pagination__link:active {
  background-color: transparent;
  border: none;
}

.pagination__arrow--previous {
  margin-right: 16px;

  transform: rotate(180deg);
}

.pagination__arrow--next {
  margin-left: 13px;

  background: url("../img/icons-sprite.svg") 82.12% 43.13% no-repeat;
}

.pagination__link {
  border-radius: 50%;
}

.pagination__link:hover,
.pagination__link:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination__link:active {
  color: #323232;

  background-color: #ffffff;
}

.pagination__link--active,
.pagination__link--active:hover,
.pagination__link--active:focus,
.pagination__link--active:active {
  color: #323232;

  background-color: #ffffff;
  cursor: default;
}

.pagination__item--previous,
.pagination__item--next {
  background-color: transparent;
}

.pagination__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.pagination__link--active {
  color: #323232;
}

/*Футер*/
.main-footer__inner {
  display: flex;
  justify-content: space-between;
}

/*Социальные сети*/
.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 185px;
  margin: 36px 0 30px 1px;
  padding: 0;

  list-style: none;
}

.social__link {
  position: relative;

  display: flex;
  width: 38px;
  height: 38px;

  border: 3px solid #c2cec7;
  border-radius: 50%;
  opacity: 0.7;
}

.social__link:hover,
.social__link:focus {
  opacity: 1.0;
}

.social__link:active {
  opacity: 0.5;
}

.social__link--twitter {
  background: url("../img/icons-sprite.svg") 43.87% 85.21% no-repeat;
}

.social__link--instagram {
  background: url("../img/icons-sprite.svg") 0.5% 85.21% no-repeat;
}

.social__link--fb {
  background: url("../img/icons-sprite.svg") 22.43% 85.21% no-repeat;
}

.social__link--vk {
  background: url("../img/icons-sprite.svg") 65.80% 85.21% no-repeat;
}

/*Информационные ссылки в футере*/
.main-footer__info-items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 326px;
  height: 50px;
  margin-top: 31px;
  padding: 0;
  padding-left: 14px;

  list-style: none;
}

.main-footer__info-item {
  margin-right: 31px;
}

.main-footer__info-link {
  font-size: 13px;
  line-height: 18px;
}

.main-footer__info-link--favorite {
  position: relative;

  font-weight: 700;
}

.main-footer__info-link--favorite::after {
  content: "";
  position: absolute;
  top: 1px;
  left: -23px;

  width: 17px;
  height: 15px;

  background: url("../img/icons-sprite.svg") 95.93% 86.84% no-repeat;
}

.main-footer__info-link--favorite:hover::after {
  background: url("../img/icons-sprite.svg") 85.46% 33.55% no-repeat;
}

/*О разработчике сайта*/
.main-footer__copyright {
  margin-top: 19px;
}

.main-footer__logo {
  display: block;
  margin-left: 2px;
}

.main-footer__copyright-text {
  margin-top: 4px;

  font-size: 12px;
  line-height: 18px;
  color: #fefefe;
}

.main-footer__copyright-text .main-footer__info-link {
  font-size: 12px;
}

/*Всплывающее окно формы обратной связи*/
.write-us {
  position: absolute;
  top: 338px;
  left: 50%;

  width: 477px;
  padding: 0 24px;

  background-color: #f8f7f4;
  border-radius: 10px 9px 9px 10px;
  transform: translateX(-50%);
}

.write-us__heading {
  margin: 17px 0 18px;

  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.write-us__field-group {
  margin-bottom: 20px;
}

.write-us__field-label {
  display: none;
}

.write-us__input-field {
  width: 267px;
  height: 44px;
}

.write-us__user-message {
  width: 100%;
  height: 155px;
}

.write-us__btn-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.write-us__btn {
  padding: 0.55em 1.34em 0.6em;

  font-size: 18px;
  line-height: 24px;
  color: #fefefe;

  border-width: 0;
  border-radius: 22px;
}

.write-us__close-btn {
  position: absolute;
  top: 15px;
  right: 16px;

  width: 18px;
  height: 17px;

  background: url("../img/icons-sprite.svg") 84.9% 39.2% no-repeat;
  border: none;
  cursor: pointer;
}

/*Правило для сокрытия элементов без потери доступности*/
.screen-readers-only {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

/*Сокрытие элементов без доступности*/
.hidden {
  display: none;
}
