body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.375;
  color: #323232;
}

.special-offers__heading {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 35px;
  font-weight: 700;
  line-height: 1.171;
  color: #ffffff;
}

.post__heading {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.375;
  color: #5a5a5a;
}

.page-wrapper {
  background-color: #90a69a;
}

.product__item-image {
  border-radius: 50%;
}

.cart__item-image {
  border-radius: 50%;
}

/*Правило для сокрытия элементов без потери доступности*/
.visually-hidden {
  border: 0; clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*Временные стили.*/
.promo-slider__control {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #face80;
}

.slider-control[id="slide-1"]:checked ~ .page-wrapper .promo-slider__control[for="slide-1"],
.slider-control[id="slide-2"]:checked ~ .page-wrapper .promo-slider__control[for="slide-2"],
.slider-control[id="slide-3"]:checked ~ .page-wrapper .promo-slider__control[for="slide-3"]{
  background-color: black;
}


